{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Register - Crop Monitoring System{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card slide-in">
            <div class="card-header bg-primary text-white">
                <h3 class="card-title mb-0"><i class="fas fa-user-plus me-2"></i> Register</h3>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            {{ user_form.username|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ user_form.email|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{ user_form.first_name|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ user_form.last_name|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{ user_form.phone_number|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{ user_form.password1|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ user_form.password2|as_crispy_field }}
                        </div>
                    </div>
                    <div class="d-grid mt-3">
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-user-plus me-2"></i> Register
                        </button>
                    </div>
                </form>
                <hr>
                <div class="text-center">
                    <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}